/* Header Section */
body{
    margin: 15px;
}

.header-section {
    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;
}

.header-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Tagline Section */
.tagline {
    margin: 30px 0;
    padding: 20px 0;
    background-color: #e9ecef;
}

/* Skills and Hobbies Section */
.skills-hobbies-section {
    background-color: #f1f1f1;
    padding: 50px 0;
}

/* Footer Section */
.footer-section {
    background-color: #343a40;
}

.footer-section a {
    text-decoration: none;
    color: #ffffff;
}

.footer-section a:hover {
    color: #ffcc00;
}

/* Background Image Section */
.bg-image {
    background-image: url('Images/Pinky bg.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full height of the viewport */
}

.overlay {
    top: 0;
    left: 0;
}

.content {
    position: relative;
    z-index: 2; /* Keeps the content above the overlay */
}
